/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

	html,body,div,span,applet,object,iframe,
	h1,h2,h3,h4,h5,h6,p,blockquote,pre,
	a,abbr,acronym,address,big,cite,code,
	del,dfn,em,img,ins,kbd,q,s,samp,
	small,strike,strong,sub,sup,tt,var,
	b,u,i,center,
	dl,dt,dd,ol,ul,li,
	fieldset,form,label,legend,
	table,caption,tbody,tfoot,thead,tr,th,td,
	article,aside,canvas,details,embed,
	figure,figcaption,footer,header,hgroup,
	menu,nav,output,ruby,section,summary,
	time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
	
	/* HTML5 display-role reset for older browsers */
	article,aside,details,figcaption,figure,
	footer,header,hgroup,menu,nav,section{display:block;}
	body{line-height:1;}
	ol,ul{list-style:none;}
	blockquote,q{quotes:none;}
	blockquote:before,blockquote:after,
	q:before,q:after{content:'';content:none;}
	table{border-collapse:collapse;border-spacing:0;}

/********************************
			Fonts
*********************************/

@font-face {
    font-family: 'JungleFeverRegular';
    src: url('../fonts/JungleFever-webfont.eot');
    src: url('../fonts/JungleFever-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JungleFever-webfont.woff') format('woff'),
         url('../fonts/JungleFever-webfont.ttf') format('truetype'),
         url('../fonts/JungleFever-webfont.svg#JungleFeverRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* use this if you want box-sizing to apply to all CSS elements */

/********************************
			Custom Properties
********************************/
/* this will make your custom properties available to the whole page (or global in scope) */

:root { /* root means the root element of the document */
		--mud-brown:#542401; /* this labels #542401 as mud-brown */
}

/********************************
			Main
*********************************/

body{
	background-color: #186b08;;
	font-family:Tahoma, Geneva, sans-serif;
}

header{
	text-align:center;
}

header h1{
	font-family:'JungleFeverRegular', 'Impact', Tahoma, Geneva, sans-serif;
	font-size:70px;
}

header h2{
	font-family:'JungleFeverRegular', 'Impact', Tahoma, Geneva, sans-serif;
	font-size:30px;
}

footer{
	font-size:16px;
	color:white;
	padding:10px 0 5px;
	margin-bottom:40px;
	text-align:center;
}

/********************************
	Special (added in class)
********************************/

main {
	width: 960px; /* always set a maximum width for your site */
	margin: 0 auto; /* centers content */

	background-image: url(../images/corkback.jpg); /* bulletin board background */
	/* by default, a background image will repeat */

	border: 25px solid var(--mud-brown); /* bulletin board edges */
	border-top: 0px; /* this will remove the border on the top */
	border-bottom-left-radius: 25px; /* you can control the border radius for each corner separately */

	padding: 25px 45px 45px; /* three values means top, left and right, bottom */
	/* to account for the extra margin and padding, we can use box-sizing */

	box-sizing: border-box; /* border-box means the padding and border will be calculated within the width (so long as you have a set width) */

	/* box shadow is a great effect for creating dimension
	in boxshadow, the properties are: type x, offset y, offset length (or size), color */
	box-shadow: 5px 5px 10px black, inset 3px 3px 7px black; /* adds outer and inner box shadows to bulletin board */

	/* this grid will allow us to position some images to the left and some to the right */
	display: grid;
	grid-template-columns: 1fr;
}

/********************************
	drop-down nav (added in class)
********************************/

nav {
	width: 960px;
	margin: 0 auto;
	background-color: var(--mud-brown);
	height: 55px;
	font-size: 2em;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	
	position: sticky; /* make the menu "stick" to the top of the page */
	top: 0;

	/* give it a z index to make it appear over the pictures, which also have a position property */
	z-index: 50;
}

/* the > selector means direct child, or only the ul that is a direct child of the nav (and not the ul inside of the ul) */
nav > ul {
	display: flex;
	justify-content: flex-end; /* flex-end pushes content to the right, or the opposite way the text starts */
	padding-top: 15px;
}

/* now get only the list items tht are direct children of the first ul */
nav > ul > li {
	padding: 0 10px;
	position: relative; /* this needs to be position relative so it will hold the absolutely positioned drop-down */
}

/* hide the nav */
nav ul li ul {
	display: none; 
}

/* make the hidden nav show up when you hover over one of the list items */
nav ul li:hover ul {
	display: block;
	position: absolute;
	background-color: var(--mud-brown);
	padding-top: 10px;
	box-shadow: 3px 3px 7px black;
}

nav a {
	color: white;
	font-weight: bold;
	text-decoration: none; /* removes underline */
}

/* vertical space for the links in the drop-down nav */
nav ul li ul a{
	line-height: 1.5;
	/* line-height is a percentage, so 1.5 = 150% times the size of the font */
}

/********************************
	pictures (added in class)
********************************/

p {
	line-height: 1.4; /* a bit of line height on blocks of text opens the text up, making it look friendlier and easier to read */
}

article {
	background-color: white;
	border: 1px solid #aaa;
	box-shadow: 2px 2px 4px rgb(50, 50, 50); /* this drop-shadow is a dark grey - a little lighter than the other shadows so will appear less strong */

	border-radius: 2px; /* slightly rounds corners for a friendlier look */
}

header article {
	/* a bit of padding for the first article without a picture */
	margin: 20px 0;
	padding: 10px;
}

section article {
	/* fixed widths for the articles with pictures */
	width: 350px;
	padding: 23px;
	/* make this position relative so it will hold the absolutely positioed before section, below */
	position: relative;
}

/* set some of the sections to  be on the right
nth child (3) would only be the third child
nth child (2n) would be every second, starting with the second
nth-child (2n+1) would be every second, starting with the first
nth-child (2n+3) would be every second, starting with the third
nth-child (3n) would be every third
...you can do the same with nth-of-type, nth-last-child, and nth-last-of-type (you can also use odd and even isntead of 2n) */

main section:nth-child(2n+3) { 
	justify-self: end; /* this tells the elements to go to the end of the grid row, instead of the start */

	/* use negative margin to make the images look overlapping */
	margin-top: 100px;
	margin-bottom: -100px;
}

/* every element in HTML has two extra sections: a before and an after
...but these sections only exist if you tell them to exist and that they have content */

section article::before {
	content: ' '; /* by giving the before section content (a space) we are telling it to exist */
	width: 180px;
	height: 50px;
	/* you can use rgba (a = alpha) to make something partially transparent */
	background-color: rgba(222, 222, 222, 0.6); /* alpha is a value between 0 and 1, where 0 is completely transparent and 1 is completely opaque */
	position: absolute;
	left: 105px;
	top: -15px;

	transform: rotate(-5deg); /* makes the tape look tilted */
}

/* the first letter pseudo class allows you to target the first letter within an HTML element */
h1 span {
	display: block; /* ::first-letter only works on block elements */
	margin: 0 15px;
	/* so the words will stay spaced out, even with flex applied */
}

h1 span::first-letter {
	font-family: 'Moo Lah Lah', cursive;
	font-size: 1.3em;
}

h1 {
	display: flex;
	justify-content: center;
}

/********************************
	attribute selectors (added in class)
********************************/

/* attribute selectors allow you to target elements based on what the attribute contains, including searching that attribute:
	a [href] targets any a tag with an href (regardless of the avlue of that href)
	or, by value:
	= means matches exactly
	^ means begins with
	~ means ends with
	* means contains
*/

a[href*="wiki"] {
	background-image: url(../images/wikipedia-icon.png);
	background-size: contain;
	background-repeat: no-repeat;
	/* add a bit of padding to make space for the background */
	padding-left: 1.5em;
}